<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users - codeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>

<div class ="container text-center">
    <div>
        <h1>List of All Users</h1>
    </div>
<!--    <div>-->
<!--        <h3>List All Users</h3>-->
<!--&lt;!&ndash;        <h3><a th:href="@{/register}">Register</a></h3>&ndash;&gt;-->
<!--&lt;!&ndash;        <h3><a th:href="@{/login}">Login</a></h3>&ndash;&gt;-->
<!--    </div>-->
</div>
</body>
</html>